# streamlit
# ultralytics
# Pillow

streamlit
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
opencv-python-headless
Pillow
ultralytics
numpy



# --extra-index-url https://download.pytorch.org/whl/cpu
